/* change pass */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --red: #FF0000;
    --green: #00FF00;
    --blue: #0000FF;
    --yellow: #FFFF00;
    --orange: #FFA500;
    --purple: #800080;
    --gray: #808080;

    /*custom color*/
    --yellowc: #FFD233;
    --greyd: #CCDCE2;
    --greym: #E2D3CC;
    --grey1: #787878;
    --green1: #C8F1D4;
    --green2: #4ECB71;
    --green3: #338844;
    --maroon1: #F1CBC8;
    --maroon2: #CB564E;
    --maroon3: #883733;
}


h4 {
    font-size: 14px;
    font-weight: reguler;
}

a {
    text-decoration: none;
}


.user-icon-small {
    width: 60px;
    height: auto;
}

.container {
    margin: 20px;
    width: 80%;
    height: auto;
    position: absolute;
}

.col-1 .icon-profile a {
    font-size: 20px;
    color: var(--black);
}

.col-10 .account h4 {
    font-size: 20px;
    color: var(--black);
}

.col-10 .profile h4 {
    font-size: 20px;
    color: var(--grey1);
}

.col-10 .cngpass h4 {
    font-size: 20px;
    color: var(--grey1);
}

.col-12 .user h4{
    font-size: 20px;
    font-weight: bold;
}

.col-12 .edit a {
    font-size: 20px;
    font-weight: 400px;
    color: var(--grey1);
    text-decoration: none;
}

.col-12 .myorder a {
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    
}
.col-12 .logout a {
    font-size: 20px;
    color: var(--maroon2);
    font-weight: 600;
}


.container .txt-profile {
    font-size: 36px;
    color: var(--green2);
    margin: 20px 0 40px 20px;
}

.row button h4 {
    font-size: 20px;
    color: var(--white);
}

.change-profile {
    background-color: var(--green2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--green2) 2px;
    font-size: 16px;
}

.change-profile:hover {
    border: 1px solid var(--green2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green2);
}

.remove-profile {
    background-color: var(--maroon2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.remove-profile:hover {
    border: 1px solid var(--maroon2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--maroon2);
}

.save {
    background-color: var(--green3);
    color: white;
    width: 100px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--green3) 2px;
    font-size: 16px;
}

.save:hover {
    border: 1px solid var(--green3);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green3);
}

.col-12 .border {
    border-width: 100%;
    border-radius: 5px;
    padding: 15px 40px 45px 20px;
}

.form {
    margin: 0 60px;
}

.form h4 {
    font-size: 18px;
    font-weight: bold;
}

.row .save {
    margin-right: 60px;
}

/* profile */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --red: #FF0000;
    --green: #00FF00;
    --blue: #0000FF;
    --yellow: #FFFF00;
    --orange: #FFA500;
    --purple: #800080;
    --gray: #808080;

    /*custom color*/
    --yellowc: #FFD233;
    --greyd: #CCDCE2;
    --greym: #E2D3CC;
    --grey1: #787878;
    --green1: #C8F1D4;
    --green2: #4ECB71;
    --green3: #338844;
    --maroon1: #F1CBC8;
    --maroon2: #CB564E;
    --maroon3: #883733;
}


h4 {
    font-size: 14px;
    font-weight: reguler;
}

a {
    text-decoration: none;
}


.user-icon-small {
    width: 60px;
    height: auto;
}

.container {
    margin: 20px;
    width: 80%;
    height: auto;
    position: absolute;
}

.col-1 .icon-profile a {
    font-size: 20px;
    color: var(--black);
}

.col-10 .account h4 {
    font-size: 20px;
    color: var(--black);
}

.col-10 .profile h4 {
    font-size: 20px;
    color: var(--grey1);
}

.col-10 .cngpass h4 {
    font-size: 20px;
    color: var(--grey1);
}

.col-12 .user h4{
    font-size: 20px;
    font-weight: bold;
}

.col-12 .edit a {
    font-size: 20px;
    font-weight: 400px;
    color: var(--grey1);
    text-decoration: none;
}

.col-12 .myorder a {
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    
}
.col-12 .logout a {
    font-size: 20px;
    color: var(--maroon2);
    font-weight: 600;
}

/* kanan */


.container .txt-profile {
    font-size: 36px;
    color: var(--green2);
    margin: 20px 0 40px 20px;
}

.container .txt-recycling {
    font-size: 28px;
    font-weight: bold;
    color: var(--green3);
    margin: 20px;
}

.row button h4 {
    font-size: 20px;
    color: var(--white);
}

.change-profile {
    background-color: var(--green2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--green2) 2px;
    font-size: 16px;
}

.change-profile:hover {
    border: 1px solid var(--green2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green2);
}

.remove-profile {
    background-color: var(--maroon2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.remove-profile:hover {
    border: 1px solid var(--maroon2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--maroon2);
}

.save {
    background-color: var(--green3);
    color: white;
    width: 100px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--green3) 2px;
    font-size: 16px;
}

.save:hover {
    border: 1px solid var(--green3);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green3);
}

.recycling {
    background-color: var(--green2);
    color: white;
    width: 300px;
    padding: 5px 15px;
    border-radius: 50px;
    border: var(--green2) 2px;
    font-size: 24px;
    font-weight: bold;
}

.recycling:hover {
    border: 1px solid var(--green2);
    border-radius: 50px;
    background-color: var(--white);
    color: var(--green2);
}

.col-12 .border {
    border-width: 100%;
    border-radius: 5px;
    padding: 15px 40px 45px 20px;
}

.form {
    margin: 0 60px;
}

.form h4 {
    font-size: 20px;
    font-weight: 400;
}

.row .save {
    margin-right: 60px;
}

/* start-recycling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --red: #FF0000;
    --green: #00FF00;
    --blue: #0000FF;
    --yellow: #FFFF00;
    --orange: #FFA500;
    --purple: #800080;
    --gray: #808080;

    /*custom color*/
    --yellowc: #FFD233;
    --greyd: #CCDCE2;
    --greym: #E2D3CC;
    --grey1: #787878;
    --green1: #C8F1D4;
    --green2: #4ECB71;
    --green3: #338844;
    --maroon1: #F1CBC8;
    --maroon2: #CB564E;
    --maroon3: #883733;
}


h4 {
    font-size: 14px;
    font-weight: reguler;
}

a {
    text-decoration: none;
}


.user-icon-small {
    width: 60px;
    height: auto;
}

.container {
    margin: 20px;
    width: 80%;
    height: auto;
    position: absolute;
}

.col-1 .icon-profile a {
    font-size: 20px;
    color: var(--black);
}

.col-10 .account h4 {
    font-size: 20px;
    color: var(--black);
}

.col-10 .profile h4 {
    font-size: 20px;
    color: var(--grey1);
}

.col-10 .cngpass h4 {
    font-size: 20px;
    color: var(--grey1);
}

.col-12 .user h4{
    font-size: 20px;
    font-weight: bold;
}

.col-12 .edit a {
    font-size: 20px;
    font-weight: 400px;
    color: var(--grey1);
    text-decoration: none;
}

.col-12 .myorder a {
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    
}
.col-12 .logout a {
    font-size: 20px;
    color: var(--maroon2);
    font-weight: 600;
}


.container .txt-recycling {
    font-size: 28px;
    font-weight: bold;
    color: var(--green3);
    margin: 20px;
}

.row button h4 {
    font-size: 20px;
    color: var(--white);
}

.change-profile {
    background-color: var(--green2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--green2) 2px;
    font-size: 16px;
}

.change-profile:hover {
    border: 1px solid var(--green2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green2);
}

.remove-profile {
    background-color: var(--maroon2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.remove-profile:hover {
    border: 1px solid var(--maroon2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--maroon2);
}

.recycling {
    background-color: var(--green2);
    color: white;
    width: 300px;
    padding: 5px 15px;
    border-radius: 50px;
    border: var(--green2) 2px;
    font-size: 24px;
    font-weight: bold;
}

.recycling:hover {
    border: 1px solid var(--green2);
    border-radius: 50px;
    background-color: var(--white);
    color: var(--green2);
}

.col-12 .border {
    border-width: 100%;
    border-radius: 5px;
    padding: 15px 40px 45px 20px;
}

.form {
    margin: 0 60px;
}

.form h4 {
    font-size: 18px;
    font-weight: bold;
}

.row .save {
    margin-right: 60px;
}

/* order-list */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --red: #FF0000;
    --green: #00FF00;
    --blue: #0000FF;
    --yellow: #FFFF00;
    --orange: #FFA500;
    --purple: #800080;
    --gray: #808080;

    /*custom color*/
    --yellowc: #FFD233;
    --greyd: #CCDCE2;
    --greym: #E2D3CC;
    --grey1: #787878;
    --green1: #C8F1D4;
    --green2: #4ECB71;
    --green3: #338844;
    --maroon1: #F1CBC8;
    --maroon2: #CB564E;
    --maroon3: #883733;
}


h4 {
    font-size: 14px;
    font-weight: reguler;
}

a {
    text-decoration: none;
}


.user-icon-small {
    width: 60px;
    height: auto;
}

.container {
    margin: 20px;
    width: 80%;
    height: auto;
    position: absolute;
}

.col-1 .icon-profile a {
    font-size: 20px;
    color: var(--black);
}

.col-10 .account h4 {
    font-size: 20px;
    color: var(--black);
}

.col-10 .profile h4 {
    font-size: 20px;
    color: var(--grey1);
}

.col-10 .cngpass h4 {
    font-size: 20px;
    color: var(--grey1);
}

.col-12 .user h4{
    font-size: 20px;
    font-weight: bold;
}



.col-12 .edit a {
    font-size: 20px;
    font-weight: 400px;
    color: var(--grey1);
    text-decoration: none;
}

.col-12 .myorder a {
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    
}
.col-12 .logout a {
    font-size: 20px;
    color: var(--maroon2);
    font-weight: 600;
}

/* udah dipindahin */
.container .txt-order-list {
    font-size: 36px;
    color: var(--green2);
    margin: 20px 0 40px 20px;
}

.container .txt-newest {
    font-size: 20px;
    color: var(--black);
    margin: 20px 0 40px 20px;
}

.col-12 .status h4{
    font-size: 26px;
    font-weight: 500;
    color: var(--yellowc);
}

.col-12 .status2 h4{
    font-size: 26px;
    font-weight: 500;
    color: var(--maroon2);
}

.col-12 .status3 h4{
    font-size: 26px;
    font-weight: 500;
    color: var(--green2);
}

.col-12 .detail h4{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.col-12 .date h4{
    font-size: 20px;
    font-weight: 500;
    color: var(--grey1);
}
/* !!!!!!! */

.row button h4 {
    font-size: 20px;
    color: var(--white);
}

.change-profile {
    background-color: var(--green2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--green2) 2px;
    font-size: 16px;
}

.change-profile:hover {
    border: 1px solid var(--green2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green2);
}

.remove-profile {
    background-color: var(--maroon2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.remove-profile:hover {
    border: 1px solid var(--maroon2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--maroon2);
}

.save {
    background-color: var(--green3);
    color: white;
    width: 100px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--green3) 2px;
    font-size: 16px;
}

.save:hover {
    border: 1px solid var(--green3);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green3);
}

.col-12 .border {
    border-width: 100%;
    border-radius: 5px;
    padding: 15px 40px 45px 20px;
}

.col-12 .border .list {
    border-width: 100%;
    border-radius: 20px;
    border: 2px solid var(--black);
    padding: 15px 40px 45px 20px;
}

.form {
    margin: 0 60px;
}

.form h4 {
    font-size: 20px;
    font-weight: 400;
}

.row .save {
    margin-right: 60px;
}

