@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --red: #FF0000;
    --green: #00FF00;
    --blue: #0000FF;
    --yellow: #FFFF00;
    --orange: #FFA500;
    --purple: #800080;
    --gray: #808080;

    /*custom color*/
    --yellowc: #FFD233;
    --greyd: #CCDCE2;
    --greym: #E2D3CC;
    --grey1: #787878;
    --green1: #C8F1D4;
    --green2: #4ECB71;
    --green3: #338844;
    --maroon1: #F1CBC8;
    --maroon2: #CB564E;
    --maroon3: #883733;
}


h4 {
    font-size: 14px;
    font-weight: reguler;
}

a {
    text-decoration: none;
}


.user-icon-small {
    width: 60px;
    height: auto;
}

.container {
    margin: 20px;
    width: 80%;
    height: auto;
    position: absolute;
}

.container-detail {
    margin: 20px;
    width: 100%;
    height: auto;
    position: absolute;
}

.col-1 .icon-profile a {
    font-size: 20px;
    color: var(--black);
}

.col-10 .account h4 {
    font-size: 20px;
    color: var(--black);
}

.col-10 .profile h4 {
    font-size: 20px;
    color: var(--grey1);
}

.col-10 .cngpass h4 {
    font-size: 20px;
    color: var(--grey1);
}

.col-12 .user h4{
    font-size: 20px;
    font-weight: bold;
}

.col-12 .edit a {
    font-size: 20px;
    font-weight: 400px;
    color: var(--grey1);
    text-decoration: none;
}

.col-12 .myorder a {
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    
}
.col-12 .logout a {
    font-size: 20px;
    color: var(--maroon2);
    font-weight: 600;
}

.col-12 .status h4{
    font-size: 26px;
    font-weight: 500;
    color: var(--yellowc);
}

.col-12 .status2 h4{
    font-size: 26px;
    font-weight: 500;
    color: var(--maroon2);
}

.col-12 .status3 h4{
    font-size: 26px;
    font-weight: 500;
    color: var(--green2);
}

.col-12 .detail h4{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.col-12 .date h4{
    font-size: 20px;
    font-weight: 500;
    color: var(--grey1);
}

.col-9 .status h4{
    font-size: 26px;
    font-weight: 500;
    color: var(--yellowc);
}

/* kanan */


.container .txt-title {
    font-size: 36px;
    color: var(--green3);
    margin: 20px 0 40px 20px;
    font-weight: bold;
}

.container-detail .txt-title2 {
    font-size: 36px;
    color: var(--green3);
    margin: 20px 0 10px 10px;
    font-weight: bold;
}

.container .txt-recycling {
    font-size: 28px;
    font-weight: bold;
    color: var(--green3);
    margin: 20px;
}

.container .txt-newest {
    font-size: 20px;
    color: var(--black);
    margin: 20px 0 40px 20px;
}

.container-detail .txt-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--green2);
    margin: 20px 0 40px 20px;
}

.row button h4 {
    font-size: 20px;
    color: var(--white);
}

.change-profile {
    background-color: var(--green2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--green2) 2px;
    font-size: 16px;
}

.change-profile:hover {
    border: 1px solid var(--green2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green2);
}

.remove-profile {
    background-color: var(--maroon2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.remove-profile:hover {
    border: 1px solid var(--maroon2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--maroon2);
}

.contact {
    background-color: var(--green2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--green2) 2px;
    font-size: 16px;
}

.contact:hover {
    border: 1px solid var(--green2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green2);

}
.cancel {
    background-color: var(--maroon2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--maroon2) 2px;
    font-size: 16px;
}

.cancel:hover {
    border: 1px solid var(--maroon2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--maroon2);
}

.save {
    background-color: var(--green3);
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: var(--green3) 2px;
    font-size: 16px;
}

.save:hover {
    border: 1px solid var(--green3);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green3);
}

.sale {
    background-color: var(--green3);
    color: white;
    width: 200px;
    border-radius: 5px;
    border: var(--green3) 2px;
    font-size: 16px;
}

.sale:hover {
    border: 1px solid var(--green3);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green3);
}

.recycling {
    background-color: var(--green2);
    color: white;
    width: 300px;
    padding: 5px 15px;
    border-radius: 50px;
    border: var(--green2) 2px;
    font-size: 24px;
    font-weight: bold;
}

.recycling:hover {
    border: 1px solid var(--green2);
    border-radius: 50px;
    background-color: var(--white);
    color: var(--green2);
}

.next {
    background-color: var(--green3);
    color: white;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border: var(--green3) 2px;
    font-size: 20px;
    font-weight: bold;
}

.next img {
    width: 20px;
    height: auto;
}

.method {
    background-color: var(--white);    
    width: 250px;
    height: 150px;
    padding: 5px 15px;
    border-radius: 20px;
    border: var(--green2) 3px solid;    
}

.method img {
    width: 80px;
    height: auto;
}

.method h4 {
    color: var(--green3);
    font-size: 28px;
    font-weight: bold;
}

.col-12 .border {
    border-width: 100%;
    border-radius: 5px;
    padding: 15px 40px 45px 20px;
}

.form {
    margin: 0 60px;
}

.form h4 {
    font-size: 20px;
    font-weight: 400;
}

.form-cng {
    margin: 0 60px;
}

.form-cng h4 {
    font-size: 18px;
    font-weight: bold;
}

.row .save {
    margin-right: auto;
}

.title{
    font-weight: bold;
    font-size: 24px;
}

.sub-title{
    font-weight: bold;
}


.information {
    padding: 10px 55px;
}

.trash-information {
    padding: 20px 55px;
}

.form-info {
    padding: 15px 0 5px 15px;
}

.form-info h4 {
    margin-bottom: 0;
}

.form-categories {
    margin: 5px 0;
}

.form-categories h4{
    margin-bottom: 0;
    font-weight: bold;
    color: var(--grey1);
}

.form-trash {
    margin: 5px 0 5px 15px;
}

.form-trash p {
    margin-bottom: 0;
    color: var(--grey1);
    font-size: 12px;
    font-weight: 400;
}

.form-estimation {
    padding-left: 20px;
}

.form-estimation h4 {
    margin-bottom: 0;
    margin-top: 5px;
}

.discount {
    font-weight: bold;
    color: var(--maroon2);
}

.border-custom {
    border: 1px solid var(--black);
    border-color: var(--greyd);
    border-radius: 5px;
    background-color: var(--greyd);
    height: 40px;
    width: auto;
}

.border-custom2 {
    border: 1px solid var(--black);
    border-color: var(--greyd);
    background-color: var(--greyd);
    height: 30px;
    width: auto;
}

.border-custom2 h4{
    margin-bottom: 0;
    font-weight: bold;
    color: var(--grey1);
    font-size: 16px;
    margin: 5px 0 0 15px;
}

.status-info {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 10px;
    border: var(--grey1) 2px solid;
}

.icon-categories {
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.txt-categories {
    display: inline-block;
    color: var(--green3);
    font-weight: bold;
    margin-left: 10px;
}

.add-number {
    width: 30px;
    height: auto;
}

.conclusion{
    margin-top: 30px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

/* tombol naik turun input number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#myNumberInput {
    -moz-appearance: textfield;
  }

/* -----------------------------  */

/* login regis style css */
.logo img{
    width: 150px;
}

.wrapper{
    width: 450px;
    background-color: white;
    padding: 45px 40px 45px 40px;
    border-radius: 30px;
    box-shadow: 3px 3px 8px gray;
}

.row{
    display: flex;
    flex-direction: column;
}

.wrapper form .row input{
    width: 100%;
    margin-top: 15px;
    padding-left: 10px;
    height: 40px;
    border-radius: 8px;
    border-color: #4ECB71;
    font-size: 0.9em;
}

.wrapper form .forgot-pass{
    margin-top: 5px;
}

.wrapper form .forgot-pass a{
    color: #4ECB71;
    font-size: 0.9em;
    text-decoration: none;
    transition: all 0.3s ease;
}

.wrapper form .forgot-pass a:hover{
    color: #338844;
    text-decoration: underline;
}

.wrapper form .login input{
    width: 100%;
    height: 40px;
    margin-top: 50px;
    border: 0px;
    border-radius: 5px;
    background-color:#4ECB71;
    color:white;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper form .login input:hover{
    font-size: 1.2em;
    background-color: #338844;
}

.wrapper form .link{
    font-size: 0.9em;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    color: #4ECB71;
}

.wrapper form .link a{
    color: #4ECB71;
    padding-left: 3px;
    transition: all 0.3s ease;
}

.wrapper form .link a:hover{
    color: #338844;
}

.title-login{
    display: flex;
    flex-direction: column;
    color: #4ECB71;
}

.title-login span:nth-child(1){
    font-size: 1.4em;
}

.title-login span:nth-child(2){
    font-size: 0.7em;
    opacity: 70%;
}

@media screen and (max-width: 420px){
    .wrapper{
        width: 100%;
        box-shadow: none;
    }
}
/* -------------------------- */

/* guides and faq style css */

/* title-guides */
.title-guides{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-guides span{
    display: block;
    width: 100px;
    height: 3px;
    background-color: #338844;
    border-radius: 3px;
    transition: all 0.5s;
}

/* content */
.container-guides{
    width: 70%;
    margin: 15px auto;
    border: 2px solid grey;
    padding: 12px;
}

.content-guides{
    color: black;
    cursor: pointer;
    transition: all 0.2s;
}

.header-guides{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    transition: all 0.5s;
}

.header-guides:hover{
    color: #338844;
}

.header-guides::after{
    content: "\002b";
    font-size: 25px;
}

.header-guides.active::after{
    content: "\2212";
}

.body-guides{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.body-content{
    opacity: 70%;
    font-size: 15px;
}

@media screen and (max-width:400px) {
    .header-guides, .body-guides, .title-guides{
        font-size: smaller;
    }
}

/* -------------------------- */
/* contact us style */

.container-contact{
    margin: auto;
    width: 90%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 3px 3px 8px gray;
    display: flex;
    justify-content: center;
}

.contact-info{
    background-image: linear-gradient(to right, var(--green2), var(--green3));
    border-radius: 25px;
    padding: 30px;
    width: 40%;
}

.box-contact{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    color: white;
}

.icon-contact{
    width: 20px;
    padding-right: 30px;
}

.contact-form{
    padding: 10px;
    padding-left: 30px;
    width: 60%;
    font-weight: bold;
}

.input-box{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.submit-btn input{
    margin-top: 5px;
    background-color: var(--green3);
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    font-size: 0.9em;
    border: none;
}

@media screen and (max-width: 500px) {
    .container-contact{
        flex-direction: column;
        box-shadow: none;
        margin-top: 0;
    }

    .contact-info{
        width: 100%;
    }

    .contact-form{
        width: 100%;
        padding: 0;
        margin-top: 30px;
    }
}

.social-links{
    margin-top: 150px;
}

.social-links a{
    display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.social-links a:hover{
    color: #24262b;
	background-color: #ffffff;
}