@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --red: #FF0000;
    --green: #00FF00;
    --blue: #0000FF;
    --yellow: #FFFF00;
    --orange: #FFA500;
    --purple: #800080;
    --gray: #808080;

    /*custom color*/
    --yellowc: #FFD233;
    --greyd: #CCDCE2;
    --greym: #E2D3CC;
    --grey1: #787878;
    --green1: #C8F1D4;
    --green2: #4ECB71;
    --green3: #338844;
    --maroon1: #F1CBC8;
    --maroon2: #CB564E;
    --maroon3: #883733;
}


h4 {
    font-size: 14px;
    font-weight: reguler;
}

a {
    text-decoration: none;
}


.user-icon-small {
    width: 60px;
    height: auto;
}

.container {
    margin: 20px;
    width: 80%;
    height: auto;
    position: absolute;
}

.container-detail {
    margin: 20px;
    width: 100%;
    height: auto;
    position: absolute;
}

.col-1 .icon-profile a {
    font-size: 20px;
    color: var(--black);
}

.col-10 .account h4 {
    font-size: 20px;
    color: var(--black);
}

.col-10 .profile h4 {
    font-size: 20px;
    color: var(--grey1);
}

.col-10 .cngpass h4 {
    font-size: 20px;
    color: var(--grey1);
}

.col-12 .user h4{
    font-size: 20px;
    font-weight: bold;
}

.col-12 .edit a {
    font-size: 20px;
    font-weight: 400px;
    color: var(--grey1);
    text-decoration: none;
}

.col-12 .myorder a {
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    
}
.col-12 .logout a {
    font-size: 20px;
    color: var(--maroon2);
    font-weight: 600;
}

.col-12 .status h4{
    font-size: 26px;
    font-weight: 500;
    color: var(--yellowc);
}

.col-12 .status2 h4{
    font-size: 26px;
    font-weight: 500;
    color: var(--maroon2);
}

.col-12 .status3 h4{
    font-size: 26px;
    font-weight: 500;
    color: var(--green2);
}

.col-12 .detail h4{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.col-12 .date h4{
    font-size: 20px;
    font-weight: 500;
    color: var(--grey1);
}

.col-9 .status h4{
    font-size: 26px;
    font-weight: 500;
    color: var(--yellowc);
}

/* kanan */


.container .txt-title {
    font-size: 36px;
    color: var(--green3);
    margin: 20px 0 40px 20px;
    font-weight: bold;
}

.container-detail .txt-title2 {
    font-size: 36px;
    color: var(--green3);
    margin: 20px 0 10px 10px;
    font-weight: bold;
}

.container .txt-recycling {
    font-size: 28px;
    font-weight: bold;
    color: var(--green3);
    margin: 20px;
}

.container .txt-newest {
    font-size: 20px;
    color: var(--black);
    margin: 20px 0 40px 20px;
}

.container-detail .txt-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--green2);
    margin: 20px 0 40px 20px;
}

.row button h4 {
    font-size: 20px;
    color: var(--white);
}

.change-profile {
    background-color: var(--green2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--green2) 2px;
    font-size: 16px;
}

.change-profile:hover {
    border: 1px solid var(--green2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green2);
}

.remove-profile {
    background-color: var(--maroon2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.remove-profile:hover {
    border: 1px solid var(--maroon2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--maroon2);
}

.contact {
    background-color: var(--green2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--green2) 2px;
    font-size: 16px;
}

.contact:hover {
    border: 1px solid var(--green2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green2);

}
.cancel {
    background-color: var(--maroon2);
    color: white;
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--maroon2) 2px;
    font-size: 16px;
}

.cancel:hover {
    border: 1px solid var(--maroon2);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--maroon2);
}

.save {
    background-color: var(--green3);
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: var(--green3) 2px;
    font-size: 16px;
}

.save:hover {
    border: 1px solid var(--green3);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green3);
}

.sale {
    background-color: var(--green3);
    color: white;
    width: 200px;
    border-radius: 5px;
    border: var(--green3) 2px;
    font-size: 16px;
}

.sale:hover {
    border: 1px solid var(--green3);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green3);
}

.recycling {
    background-color: var(--green2);
    color: white;
    width: 300px;
    padding: 5px 15px;
    border-radius: 50px;
    border: var(--green2) 2px;
    font-size: 24px;
    font-weight: bold;
}

.recycling:hover {
    border: 1px solid var(--green2);
    border-radius: 50px;
    background-color: var(--white);
    color: var(--green2);
}

.next {
    background-color: var(--green3);
    color: white;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border: var(--green3) 2px;
    font-size: 20px;
    font-weight: bold;
}

.next img {
    width: 20px;
    height: auto;
}

.method {
    background-color: var(--white);    
    width: 250px;
    height: 150px;
    padding: 5px 15px;
    border-radius: 20px;
    border: var(--green2) 3px solid;    
}

.method img {
    width: 80px;
    height: auto;
}

.method .mt-2 {
    color: var(--green3);
    font-size: 28px;
    font-weight: bold;
}

.col-12 .border {
    border-width: 100%;
    border-radius: 5px;
    padding: 15px 40px 45px 20px;
}

.form {
    margin: 0 60px;
}

.form h4 {
    font-size: 20px;
    font-weight: 400;
}

.form-cng {
    margin: 0 60px;
}

.form-cng h4 {
    font-size: 18px;
    font-weight: bold;
}

.row .save {
    margin-right: auto;
}

.title{
    font-weight: bold;
    font-size: 24px;
}

.sub-title{
    font-weight: bold;
}


.information {
    padding: 10px 55px;
}

.trash-information {
    padding: 20px 55px;
}

.form-info {
    padding: 15px 0 5px 15px;
}

.form-info h4 {
    margin-bottom: 0;
}

.form-categories {
    margin: 5px 0;
}

.form-categories h4{
    margin-bottom: 0;
    font-weight: bold;
    color: var(--grey1);
}

.form-trash {
    margin: 5px 0 5px 15px;
}

.form-trash p {
    margin-bottom: 0;
    color: var(--grey1);
    font-size: 12px;
    font-weight: 400;
}

.form-estimation {
    padding-left: 20px;
}

.form-estimation h4 {
    margin-bottom: 0;
    margin-top: 5px;
}

.discount {
    font-weight: bold;
    color: var(--maroon2);
}

.border-custom {
    border: 1px solid var(--black);
    border-color: var(--greyd);
    border-radius: 5px;
    background-color: var(--greyd);
    height: 40px;
    width: auto;
}

.border-custom2 {
    border: 1px solid var(--black);
    border-color: var(--greyd);
    background-color: var(--greyd);
    height: 30px;
    width: auto;
}

.border-custom2 h4{
    margin-bottom: 0;
    font-weight: bold;
    color: var(--grey1);
    font-size: 16px;
    margin: 5px 0 0 15px;
}

.status-info {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 10px;
    border: var(--grey1) 2px solid;
}

.status-info .statush4 {
    color: var(--yellowc); 
    font-weight: 500; 
    font-size: 24px; 
    margin-left: 20px;
}

.icon-categories {
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.txt-categories {
    display: inline-block;
    color: var(--green3);
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 0;
}

.add-number {
    width: 30px;
    height: auto;
}

.conclusion{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.conclusion h4.est {
    margin: 30px 0 5px 15px;
} 

.form-info .sub-title {
    font-size: 20px;
    font-weight: bold;
}

.form-add input.form-control {
    width: 60px;
    height: 30px;
    border: 2px solid var(--green2) ;
}

.comment {
    width: 704px; 
    height: auto; 
    margin: 5px 0 5px 15px; 
    font-size: 14px;
}

.trash-information .sub-title {
    font-size: 16px;
}

.information .row .col-7 {
    width: 44% !important;
}

/* tombol naik turun input number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#myNumberInput {
    -moz-appearance: textfield;
  }

/* -----------------------------  */

/* Halaman Responsive */

@media screen and (max-width: 1000px) {

    .container-detail .txt-title {
        font-size: 30px;
    }

    .title {
        font-size: 20px;
    }

    .method {
        width: 200px;
        height: 120px;
    }

    .method img {
        width: 60px;
        height: auto;
    }

    .method .mt-2 {
        font-size: 20px;
        color: var(--green3);
    }

    .information {
        padding: 10px 15px;
    }
    
    .trash-information {
        padding: 20px 15px;
    }
    
    .form-info .sub-title{
        font-size: 16px;
    }

    .form-info .sub-info {
        font-size: 12px;
    }    
    
    textarea.form-control {
        width: 452px;
        font-size: 12px;
    }

    .icon-categories {
        width: 30px;
        height: auto;
        vertical-align: middle;
    }

    .txt-categories {
        font-size: 12px;
    }

    .form-trash p {
        font-size: 10px;
    }

    .form-add img {
        width: 25px;
    }

    .form-add input.form-control  {
        width: 45px;
        height: 25px;
        font-size: 10px;
    }

    .next {
        width: 80px;
        height: 25px;
        font-size: 16px;
    }

    .next img {
        width: 16px;
    }

    .form-estimation {
        padding-left: 10px;
    }

    .form-estimation h4 {
        font-size: 12px;
    }

    .est {
        font-size: 12px;
    }      

    .information .row .col-7  {
        width: 54% !important;
    }

    .information .row .col-1 h4 {
        margin-top: 0 !important;
    }

}

@media screen and (max-width: 400px) {

    .container-detail .txt-title {
        margin: 20px 0;
        font-size: 20px;
    }

    .container-detail .title {
        font-size: 14px;
    }

    .border {
        width: 100% !important;
    }

    .method {
        width: 95px;
        height: 80px;
        border-radius: 10px;
    }       

    .method img {
        width: 40px;
        height: auto;
    }

    .method .mt-2 {
        font-size: 12px;
        color: var(--green3);
    }

    .container-detail .col-6 {
        width: 90%;
    }

    .container-detail .txt-title {
        font-size: 26px;
    }

    .container-detail .txt-title2 {
        font-size: 32px;
        margin: 10px 0;
    }

    .status-info {
        width: 200px;
        padding: 10px 5px;
    }

    .status-info img {
        width: 50px;
    }

    .status-info .statush4 {
        font-size: 20px; 
        margin-left: 18px;
    }

    .contact {
        width: 160px;
        padding: 5px 10px;
        border-radius: 5px;
        border: var(--green2) 2px;
        font-size: 14px;
    }

    .cancel {
        background-color: var(--maroon2);
        color: white;
        width: 160px;
        padding: 5px 10px;
        font-size: 14px;
    }

    .information {
        margin: 0 !important;
        padding: 10px 0 10px 15px;
    }

    .information .data {
        margin: 0 !important;
    }

    .trash-information {
        margin: 0 !important;
    }

    .trash-information .sub-title {
        font-size: 14px;
    }

    .trash-information .data h4{
        font-size: 12px;
    }

    .border-custom h4{
        font-size: 11px;
    }

    .form-categories h4 {
        font-size: 12px;
    }

    .border-custom2 h4{
        font-size: 13px;
        margin-top: 6px;
    }

    textarea.form-control {
        width: 92%;
        font-size: 12px;
    }

    .icon-categories {
        width: 25px;
        height: auto;
    }
    
    .txt-categories {
        font-size: 10px;
    }

    .form-add img {
        width: 23px;
        height: auto;
    }

    .form-add input.form-control {
        width: 44px;
        height: 23px;
    }

    .conclusion {
        margin-top: 20px;
    }

    .conclusion h4.est {
        margin: 15px 0 5px 15px;
    } 

    .form-estimation h4 {
        font-size: 11px;
    }

    .summary h4 {
        font-size: 12px;
    }

    .sale {
        font-size: 14px !important;
        width: 150px !important;
        height: 25px !important;
    }

    .summary .row .col-6 {
        width: 50% !important;
    }

    .information .row .col-1 h4 {
        font-size: 14px !important;
        margin-top: 0px !important;
    }    

    .information .row .col-7  {
        width: 50% !important;
    }

    .row .col-5 {
        width: 38% !important;
    }

    .container-detail .col-6 {
        width: 100% !important;
    }
}