@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    background-color: white;
    justify-content: space-around;
    height: 70px;
    font-weight: 500;
    align-items: center;
    letter-spacing: 2px;
    box-shadow: 3px 3px 8px gray;
    transition: all 0.5s;
    margin-bottom: 30px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 1000px;
}

nav .logo img{
    width: 100px;
}

nav ul li{
    position: relative;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 0.9em;
    transition: all 0.3s ease;
}

nav ul li a:hover{
    color: #338844;
    font-size: 1em;
}

.links li a{
    background-color: #338844;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.links li a:hover{
    color: white;
    font-size: 0.9em;
}

/* hamburger menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -5px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

/* dirotate garis paling atas */
.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);   
    background-color: #338844;
}
/* dirotate garis paling bawah */
.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);   
    background-color: #338844;
}
/* garis tengah ilang */
.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0); 
    opacity: 0;
}

/* untuk navbar username */
.dropdown-toggle{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    transition: all 0.5s;
    background-color: #338844;
    display: flex;
    align-items: center;
}

.dropdown-toggle:hover{
    color: black;
    opacity: 70%;
}

.dropdown-menu{
    transition: all 0.5s;
    width: 170%;
}

/* responsive */
@media screen and (max-width: 1000px){
    .menu-toggle{
        display: flex;
    }

    nav ul{
        background-color: white;
        width: 100%;
        position: absolute;
        flex-direction: column;
        top: 0;
        height: 90vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: 0;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }

    nav.noshadow{
        box-shadow: none;
    }
}

nav{
    background-color: white;
    box-shadow: 3px 3px 8px gray;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    height: 70px;
}
.container img{
    width: 100px;
}

.navbar-collapse .navbar-nav .nav-item .nav-link{
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 0.9em;
    transition: all 0.6s ease;
    text-align: center;
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color: #338844;
    font-size: 1em;
}

.navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item .bi{
  margin-right: 10px;
}

@media screen and (max-width:950px){
    .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item{
        text-align: center;
        width: 100%;
        border: none;
        margin-bottom: 10px;
        margin-left: -8px;
        transition: all 0.3s ease;
    }
    .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
      color: #338844;
    }
    .navbar-collapse .navbar-nav .nav-item .dropdown-menu{
        border: none;
        font-size: 0.9em;
    }
    .navbar-collapse .navbar-nav .nav-item{
        width: 110%;
        margin-bottom: 70px;
    }
    .navbar-collapse .navbar-nav .nav-item:first-child{
      margin-top: 20px;
    }
}