<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>About</title>
</head>
<body>

    <!-- navbar -->
    <nav id="nav">
        <div class="logo">
            <a href="index.html"><img src="../assets/images/logo-with-text.png" alt="Daurin Logo"></a>
        </div>
        <ul>
            <li><a href="form-trash.html">DAURIN YOUR WASTE</a></li>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="guides-faq.html">GUIDES AND FAQ</a></li>
            <li><a href="contact-us.html">CONTACT</a></li>
            <div class="links">
                <li><a href="login.html">SIGN IN</a></li>
            </div>
        </ul>
        <div class="menu-toggle">
            <input type="checkbox" name="" id="">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
        </div>
    </div>

    <div class="container-fluid overflow-hidden my-5 px-lg-0" style="background-color: var(--grey2);">
        <div class="container about px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="../assets/images/content-1.png" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <div class="section-title text-start">
                            <h1 class="display-5 mb-4">About Us</h1>
                        </div>
                        <p class="mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet</p>
                        <div class="row g-4 mb-4 pb-2">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                                        <i class="fa fa-users fa-2x" style="color: var(--green2);"></i>
                                    </div>
                                    <div class="ms-3">
                                        <h2 class=" mb-1" data-toggle="counter-up" style="color: var(--green2);">+100</h2>
                                        <p class="fw-medium mb-0">Our Community</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                                        <i class="fa fa-check fa-2x" style="color: var(--green2);"></i>
                                    </div>
                                    <div class="ms-3">
                                        <h2 class=" mb-1" data-toggle="counter-up" style="color: var(--green2);">500 Kg</h2>
                                        <p class="fw-medium mb-0">Waste Weight Aprox</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="" class="btn btn-primary py-3 px-5" style="background: var(--green2); border: none;">Explore More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    
    <div class="wrapper-footer">
        <footer class="footer">
            <div class="container-footer">
                <div class="row-footer">
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>DAURIN</h4>
                         <p>Daurin is an application for buying and selling waste online (recycling platforms). Daurin connect the waste generator (house households, businesses and offices) with local collectors(collectors) closest, so easier in selling trash. Daurin focuses on patterns waste recycling in the upstream sector, not a service waste transportation or recycling handicrafts.</p>
                     </div>
                    </div>
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>QUICK LINKS</h4>
                         <ul style="list-style: none;">
                             <li><a href="form-trash.html">Daurin your waste</a></li>
                             <li><a href="about-us">About Us</a></li>
                             <li><a href="guides-faq.html">Guides and F.A.Q</a></li>
                             <li><a href="contact-us.html">Contact</a></li>
                         </ul>
                     </div>
                    </div>
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>CONNECT WITH US</h4>
                         <h5>Kantor Daurin</h5>
                         <p>Jl. RS. Fatmawati Raya No.4, RT.4/RW.9, Cilandak Barat, Kec. Cilandak, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12430</p>
                         <h5>(021) 753 23 45</h5>
                         <h5>contact@daurin.com</h5>
                         <div class="social-links" style="margin-top:10px;">
                             <a href="#"><i class="fab fa-instagram"></i></a>
                             <a href="#"><i class="fab fa-twitter"></i></a>
                             <a href="#"><i class="fab fa-facebook-f"></i></a>
                             <a href="#"><i class="fab fa-whatsapp"></i></a>
                         </div>
                     </div>
                    </div>
                </div>
            </div>
       </footer>
       <footer class="footer-copyright">
         <p>©️2023 - All Right Reserved Daurin.</p>
     </footer>
    </div>

    <script src="../assets/css/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/main.js"></script>

</body>
</html>