<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Change Password</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-lg-4 mb-5 mt-5 ms-4">
                <div class="row">
                    <div class="col-2">
                        <img src="../assets/images/user-small-icon.png" alt="" class="user-icon-small">
                    </div>
                    <div class="col-8 ms-4 mt-2">                        
                        <div class="row">
                            <div class="col-12">
                                <div class="user">
                                    <h4>Irfan Satriatama</h4>                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="edit">
                                    <a href="profile.html"><i class="bi bi-pencil"></i> Edit Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ms-1">
                    <div class="col-1">
                        <div class="icon-profile">
                            <a href="#"><i class="bi bi-person-fill"></i></a>
                        </div>                        
                    </div>
                    <div class="col-10">
                        <div class="account">
                            <a href="#"><h4>My Account</h4></a>
                        </div>
                        <div class="profile">
                            <a href="profile.html"><h4>Profile</h4></a>
                        </div>
                        <div class="cngpass">
                            <a href="change-pass.html"><h4>Change Password</h4></a>
                        </div>                         
                    </div>
                </div>
                <div class="row ms-1">
                    <div class="col-1">
                        <div class="icon-profile">
                            <a href="#"><i class="bi bi-recycle"></i></a>
                        </div>                        
                    </div>
                    <div class="col-10">
                        <div class="account">
                            <a href="#"><h4>My Order</h4></a>
                        </div>
                        <div class="profile">
                            <a href="start-recycling.html"><h4>Start Recycling</h4></a>
                        </div>
                        <div class="cngpass">
                            <a href="order-list.html"><h4>Order List</h4></a>
                        </div>                         
                    </div>
                </div>
                <div class="row ms-1">
                    <div class="col-12">
                        <div class="logout">
                            <a href="login.html"><i class="bi bi-box-arrow-right"></i> &nbsp Logout</a>                           
                        </div>                       
                    </div>
                </div>
                <!-- DROPDOWN LINK -->
                <div class="dropdown-resp">
                    <div class="dropdown-profile">
                        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill"></i> My Account
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                          <li><a class="dropdown-item" href="change-pass.html">Change Password</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-profile">
                        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-recycle"></i> My Orders
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="order-list.html">Order List</a></li>
                          <li><a class="dropdown-item" href="start-recycling.html">Start Recycling</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- kanan -->
            <div class="col-md-7">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="border  border-3 mb-3 mt-3">
                                <h4 class="txt-title">Change Password</h4>
                                <div class="form-cng">
                                    <div class="row mt-2 mb-3">
                                        <div class="col-3 mt-2">
                                            <h4>Current Password</h4>
                                        </div>
                                        <div class="col-9">
                                            <input type="password" class="form-control" id="inputPassword">
                                        </div>                                    
                                    </div>
                                    <div class="row mt-2 mb-3">
                                        <div class="col-3 mt-2">
                                            <h4>New Password</h4>
                                        </div>
                                        <div class="col-9">
                                            <input type="password" class="form-control" id="inputPassword">
                                        </div>                                    
                                    </div>
                                    <div class="row mt-2 mb-3">
                                        <div class="col-3 mt-2">
                                            <h4>Confirm Password</h4>
                                        </div>
                                        <div class="col-9">
                                            <input type="password" class="form-control" id="inputPassword">
                                        </div>                                    
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end mt-3">
                                        <a href="#"><button class="save" style="margin-right: 60px">Save</button></a>
                                    </div>
                                </div>                                                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-footer">
        <footer class="footer">
            <div class="container-footer">
                <div class="row-footer">
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>DAURIN</h4>
                         <p>Daurin is an application for buying and selling waste online (recycling platforms). Daurin connect the waste generator (house households, businesses and offices) with local collectors(collectors) closest, so easier in selling trash. Daurin focuses on patterns waste recycling in the upstream sector, not a service waste transportation or recycling handicrafts.</p>
                     </div>
                    </div>
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>QUICK LINKS</h4>
                         <ul style="list-style: none;">
                             <li><a href="form-trash.html">Daurin your waste</a></li>
                             <li><a href="about-us">About Us</a></li>
                             <li><a href="guides-faq.html">Guides and F.A.Q</a></li>
                             <li><a href="contact-us.html">Contact</a></li>
                         </ul>
                     </div>
                    </div>
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>CONNECT WITH US</h4>
                         <h5>Kantor Daurin</h5>
                         <p>Jl. RS. Fatmawati Raya No.4, RT.4/RW.9, Cilandak Barat, Kec. Cilandak, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12430</p>
                         <h5>(021) 753 23 45</h5>
                         <h5>contact@daurin.com</h5>
                         <div class="social-links" style="margin-top:10px;">
                             <a href="#"><i class="fab fa-instagram"></i></a>
                             <a href="#"><i class="fab fa-twitter"></i></a>
                             <a href="#"><i class="fab fa-facebook-f"></i></a>
                             <a href="#"><i class="fab fa-whatsapp"></i></a>
                         </div>
                     </div>
                    </div>
                </div>
            </div>
       </footer>
       <footer class="footer-copyright">
         <p>©️2023 - All Right Reserved Daurin.</p>
     </footer>
    </div>
    
    <script src="../assets/js/main.js"></script>
    <script src="../assets/css/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>