<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Daurin</title>
    <style>
        @media screen and (max-width:400px){
            .contact-form .input-box .form-control{
                width: 100%;
            }
        }
    </style>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
    
<body>
    <!-- NAVIGATION BAR -->
    <nav id="nav">
        <div class="logo">
            <a href="index.html"><img src="../assets/images/logo-with-text.png" alt="Daurin Logo"></a>
        </div>
        <ul>
            <li><a href="start-recycling.html">DAURIN YOUR WASTE</a></li>
            <li><a href="about-us.html">ABOUT US</a></li>
            <li><a href="guides-faq.html">GUIDES AND FAQ</a></li>
            <li><a href="contact-us.html">CONTACT</a></li>
            <div class="links">
                <li><a href="login.html">SIGN IN</a></li>
            </div>
        </ul>
        <div class="menu-toggle">
            <input type="checkbox" name="" id="">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>



    <!-- content -->
    <div class="title-login" style="color: black; align-items: center; font-weight: bold; margin-bottom: 10px;">
        <span>Contact Us</span>
        <span style="font-size: 1em; font-weight: 400; text-align: center; z-index: -1;">Any Question or remarks? Just write us a message!</span>
    </div>
    <div class="container-contact">
        <div class="contact-info">
            <!-- contact daurin -->
            <div class="title-login" style="font-size: 1.1em; color: white; font-weight: bold;">Contact Information</div>
            <div class="box-contact">
                <div class="icon-contact"><i class="fas fa-map-pin"></i></div>
                <div class="text-contact">
                    <p>Kantor Daurin<br/>
                        Jl. RS. Fatmawati Raya No.4, RT.4/RW.9, Cilandak Barat, 
                        Kec. Cilandak, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12430</p>
                </div>
            </div>
            <div class="box-contact">
                <div class="icon-contact"><i class="fas fa-at"></i></div>
                <div class="text-contact">
                    <p>contact@daurin.com</p>
                </div>
            </div>
            <div class="box-contact">
                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                <div class="text-contact">
                    <p>(021) 753 23 45</p>
                </div>
            </div>
            <!-- social media -->
            <div class="social-links" style="margin-top: 80px;">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
        <!-- send message form -->
        <div class="contact-form">
            <form action="">
                <div class="title-login" style="font-size: 1.2em;">Send Message</div>
                <div class="input-box">
                    <span>Fullname</span>
                    <input class="form-control" type="text" name="" id="" required>
                </div>
                <div class="input-box">
                    <span>Email</span>
                    <input class="form-control" type="email" name="" id="" required>
                </div>
                <div class="input-box">
                    <span>Phone Number</span>
                    <input class="form-control" type="number" name="" id="" required>
                </div>
                <div class="input-box">
                    <span>Messages</span>
                    <textarea class="form-control" id="comment" rows="3" style="height: auto; margin: 5px 0 0 0; font-size: 14px;"></textarea>
                </div>
                <div class="submit-btn text-end">
                    <input type="submit" value="Send Message">
                </div>
            </form>
        </div>
    </div>

        <!-- footer -->
        <div class="wrapper-footer">
            <footer class="footer">
                <div class="container-footer">
                    <div class="row-footer">
                        <div class="footer-col">
                         <div class="content-footer">
                             <h4>DAURIN</h4>
                             <p>Daurin is an application for buying and selling waste online (recycling platforms). Daurin connect the waste generator (house households, businesses and offices) with local collectors(collectors) closest, so easier in selling trash. Daurin focuses on patterns waste recycling in the upstream sector, not a service waste transportation or recycling handicrafts.</p>
                         </div>
                        </div>
                        <div class="footer-col">
                         <div class="content-footer">
                             <h4>QUICK LINKS</h4>
                             <ul style="list-style: none;">
                                 <li><a href="form-trash.html">Daurin your waste</a></li>
                                 <li><a href="about-us">About Us</a></li>
                                 <li><a href="guides-faq.html">Guides and F.A.Q</a></li>
                                 <li><a href="contact-us.html">Contact</a></li>
                             </ul>
                         </div>
                        </div>
                        <div class="footer-col">
                         <div class="content-footer">
                             <h4>CONNECT WITH US</h4>
                             <h5>Kantor Daurin</h5>
                             <p>Jl. RS. Fatmawati Raya No.4, RT.4/RW.9, Cilandak Barat, Kec. Cilandak, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12430</p>
                             <h5>(021) 753 23 45</h5>
                             <h5>contact@daurin.com</h5>
                             <div class="social-links" style="margin-top:10px;">
                                 <a href="#"><i class="fab fa-instagram"></i></a>
                                 <a href="#"><i class="fab fa-twitter"></i></a>
                                 <a href="#"><i class="fab fa-facebook-f"></i></a>
                                 <a href="#"><i class="fab fa-whatsapp"></i></a>
                             </div>
                         </div>
                        </div>
                    </div>
                </div>
           </footer>
           <footer class="footer-copyright">
             <p>©️2023 - All Right Reserved Daurin.</p>
         </footer>
        </div>

        <script src="../assets/js/main.js"></script>
</body>
</html>