<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Daurin</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        *{
            box-sizing: border-box;
        }
    </style>
</head>
    
<body>
    <div class="title-login" style="color: black; align-items: center;">
        <span>Contact Us</span>
        <span>Any Question or remarks? Just write us a message!</span>
    </div>
    <div class="container-contact">
        <div class="contact-info">
            <!-- contact daurin -->
            <div class="box-contact">
                <div class="icon-contact"><i class="fas fa-map-pin" style="color: #000000;"></i></div>
                <div class="text-contact">
                    <p>Kantor Daurin<br/>
                        Jl. RS. Fatmawati Raya No.4, RT.4/RW.9, Cilandak Barat, 
                        Kec. Cilandak, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12430</p>
                </div>
            </div>
            <div class="box-contact">
                <div class="icon-contact"><i class="fas fa-at" style="color: #000000;"></i></div>
                <div class="text-contact">
                    <p>contact@daurin.com</p>
                </div>
            </div>
            <div class="box-contact">
                <div class="icon-contact"><i class="fas fa-phone-alt" style="color: #000000;"></i></div>
                <div class="text-contact">
                    <p>(021) 753 23 45</p>
                </div>
            </div>
        </div>
        <div class="contact-form">
            <form action="">
                <div class="title-login">Send Message</div>
                <div class="input-box">
                    <span>Fullname</span>
                    <input type="text" name="" id="" required>
                </div>
                <div class="input-box">
                    <span>Email</span>
                    <input type="email" name="" id="" required>
                </div>
                <div class="input-box">
                    <span>Phone Number</span>
                    <input type="number" name="" id="" required>
                </div>
                <div class="input-box">
                    <span>Messages</span>
                    <textarea required name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="submit-btn">
                    <input type="submit" value="Send Message">
                </div>
            </form>
        </div>
    </div>
</body>
</html>