<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Trash Detailed Information</title>
</head>
<body>

    <!-- navbar -->
    <nav id="nav">
        <div class="logo">
            <a href="index.html"><img src="../assets/images/logo-with-text.png" alt="Daurin Logo"></a>
        </div>
        <ul>
            <li><a href="form-trash.html">DAURIN YOUR WASTE</a></li>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="guides-faq.html">GUIDES AND FAQ</a></li>
            <li><a href="contact-us.html">CONTACT</a></li>
            <div class="links">
                <li><a href="login.html">SIGN IN</a></li>
            </div>
        </ul>
        <div class="menu-toggle">
            <input type="checkbox" name="" id="">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <div class="container-detail">
        <div class="row justify-content-center text-center">
            <div class="col-6">
                <div class="border mb-5 border-3">
                    <h4 class="txt-title2">TRASH DETAIL</h4>
                    <div class="form-info">
                        <h4 class="sub-title text-start">Trash Information</h4>
                        <h4 class="sub-info text-start mb-3" style="font-weight: 500; color: var(--grey1);">Select the type and the estimated waste weight. There is no minimum pick-up weight or pieces limit.</h4>
                    </div>
                    <div class="border border-2"></div>
                    <div class="form-categories">
                        <div class="row">
                            <div class="col-4">
                                <h4>Categories</h4>
                            </div>
                            <div class="col-5">
                                <h4>Description</h4>
                            </div>
                            <div class="col-3">
                                <h4>Quantity</h4>
                            </div>
                        </div> 
                    </div>                    
                    <div class="border-custom2">
                        <h4 class="text-start">Per Kilogram</h4>
                    </div>
                    <div class="form-trash">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                <img class="icon-categories" src="../assets/images/icon-paper.png" alt="">
                                <h4 class="txt-categories">Papers</h4>
                            </div>
                            <div class="col-5">
                                <p>Newspapers, used books, white/HVS paper, color/duplex paper, opaque paper, cardboard, and etc.</p>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center mt-1">
                                <div class="form-add d-flex align-items-center ">
                                    <a href="#"><img class="add-number" src="../assets/images/icon-minus.png" alt=""></a>
                                    <input type="number" id="myNumberInput" min="0" max="999" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                    <a href="#"><img class="add-number" src="../assets/images/icon-plus.png" alt=""></a>
                                </div>
                            </div>  
                        </div>
                    </div>                    
                    <div class="border border-2"></div>
                    <div class="form-trash">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                <img class="icon-categories" src="../assets/images/icon-plastic.png" alt="">
                                <h4 class="txt-categories">Plastics</h4>
                            </div>
                            <div class="col-5">
                                <p>Plastic cups, plastic bottles, children's toys, home furnishings, plastic containers, bottle caps, and etc.</p>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center mt-1">
                                <div class="form-add d-flex align-items-center ">
                                    <a href="#"><img class="add-number" src="../assets/images/icon-minus.png" alt=""></a>
                                    <input type="number" id="myNumberInput" min="0" max="999" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                    <a href="#"><img class="add-number" src="../assets/images/icon-plus.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="border border-2"></div>
                    <div class="form-trash">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                <img class="icon-categories" src="../assets/images/icon-aluminum.png" alt="">
                                <h4 class="txt-categories">Aluminums</h4>
                            </div>
                            <div class="col-5">
                                <p>Cans or zinc, and other aluminiums.</p>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center mt-1">
                                <div class="form-add d-flex align-items-center ">
                                    <a href="#"><img class="add-number" src="../assets/images/icon-minus.png" alt=""></a>
                                    <input type="number" id="myNumberInput" min="0" max="999" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                    <a href="#"><img class="add-number" src="../assets/images/icon-plus.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="border border-2"></div>
                    <div class="form-trash">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                <img class="icon-categories" src="../assets/images/icon-iron.png" alt="">
                                <h4 class="txt-categories">Irons</h4>
                            </div>
                            <div class="col-5">
                                <p>Aaccumulator, thin or thick iron, brass, copper, tin, and other.</p>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center mt-1">
                                <div class="form-add d-flex align-items-center ">
                                    <a href="#"><img class="add-number" src="../assets/images/icon-minus.png" alt=""></a>
                                    <input type="number" id="myNumberInput" min="0" max="999" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                    <a href="#"><img class="add-number" src="../assets/images/icon-plus.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="border-custom2">
                        <h4 class="text-start">Per Pieces</h4>
                    </div>
                    <div class="form-trash">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                <img class="icon-categories" src="../assets/images/icon-glass-bottle.png" alt="">
                                <h4 class="txt-categories">Glass Bottles</h4>
                            </div>
                            <div class="col-5">
                                <p>Ketchup bottles, syrup bottles, sauce bottles, liquor bottles, and etc.</p>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center mt-1">
                                <div class="form-add d-flex align-items-center ">
                                    <a href="#"><img class="add-number" src="../assets/images/icon-minus.png" alt=""></a>
                                    <input type="number" id="myNumberInput" min="0" max="999" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                    <a href="#"><img class="add-number" src="../assets/images/icon-plus.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="border border-2"></div>
                    <div class="form-trash">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                <img class="icon-categories" src="../assets/images/icon-electronic.png" alt="">
                                <h4 class="txt-categories">Electronics</h4>
                            </div>
                            <div class="col-5">
                                <p>TV, fan, laptop, handphone, washing machine, air condition, fridge, dispensers, rice cooker, PC, CPU, and etc.</p>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center mt-1">
                                <div class="form-add d-flex align-items-center">
                                    <a href="#"><img class="add-number" src="../assets/images/icon-minus.png" alt=""></a>
                                    <input type="number" id="myNumberInput" min="0" max="999" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                    <a href="#"><img class="add-number" src="../assets/images/icon-plus.png" alt=""></a>
                                </div>
                            </div>                              
                        </div>
                    </div>                    
                    <div class="border border-2"></div>
                    <div class="form-info">
                        <h4 class="sub-title text-start">Detailed Information</h4>
                    </div>
                    <textarea class="comment form-control" id="comment" rows="3" placeholder="Please enter detailed information about your trash"></textarea>
                    <div class="border border-2 conclusion">
                        <h4 class="est text-start">Estimation</h4>
                        <div class="form-estimation mb-3">
                            <div class="row">
                                <div class="col-2 text-end">
                                    <h4>Total Weight</h4>
                                </div>
                                <div class="col-2 text-start">
                                    <h4 style="font-weight: bold;">21.0 Kg</h4>
                                </div>
                                <div class="col-2 text-end">
                                    <h4>Total Pieces</h4>
                                </div>
                                <div class="col-2 text-start">
                                    <h4 style="font-weight: bold;">21.0 Pcs</h4>
                                </div>
                                <div class="col-4 text-start d-flex">
                                    <a href="#">
                                        <button class="next">NEXT
                                            <img src="../assets/images/icon-arrow-tail-right.png" alt="">                                            
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>                                                        
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    
    <div class="wrapper-footer">
        <footer class="footer">
            <div class="container-footer">
                <div class="row-footer">
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>DAURIN</h4>
                         <p>Daurin is an application for buying and selling waste online (recycling platforms). Daurin connect the waste generator (house households, businesses and offices) with local collectors(collectors) closest, so easier in selling trash. Daurin focuses on patterns waste recycling in the upstream sector, not a service waste transportation or recycling handicrafts.</p>
                     </div>
                    </div>
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>QUICK LINKS</h4>
                         <ul style="list-style: none;">
                             <li><a href="form-trash.html">Daurin your waste</a></li>
                             <li><a href="about-us">About Us</a></li>
                             <li><a href="guides-faq.html">Guides and F.A.Q</a></li>
                             <li><a href="contact-us.html">Contact</a></li>
                         </ul>
                     </div>
                    </div>
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>CONNECT WITH US</h4>
                         <h5>Kantor Daurin</h5>
                         <p>Jl. RS. Fatmawati Raya No.4, RT.4/RW.9, Cilandak Barat, Kec. Cilandak, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12430</p>
                         <h5>(021) 753 23 45</h5>
                         <h5>contact@daurin.com</h5>
                         <div class="social-links" style="margin-top:10px;">
                             <a href="#"><i class="fab fa-instagram"></i></a>
                             <a href="#"><i class="fab fa-twitter"></i></a>
                             <a href="#"><i class="fab fa-facebook-f"></i></a>
                             <a href="#"><i class="fab fa-whatsapp"></i></a>
                         </div>
                     </div>
                    </div>
                </div>
            </div>
       </footer>
       <footer class="footer-copyright">
         <p>©️2023 - All Right Reserved Daurin.</p>
     </footer>
    </div>

<script src="../assets/js/main.js"></script>
<script src="../assets/css/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // membatasi panjang karakter maksimal
        var myNumberInput = document.getElementById("myNumberInput");
        myNumberInput.addEventListener("input", function() {
          if (this.value.length > 3) {
            this.value = this.value.slice(0,3);
          }
        });
        </script>

    <script src="../assets/css/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>