<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guides and F.A.Q - Daurin</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <!-- NAVIGATION BAR -->
    <nav id="nav">
        <div class="logo">
            <a href="index.html"><img src="../assets/images/logo-with-text.png" alt="Daurin Logo"></a>
        </div>
        <ul>
            <li><a href="start-recycling.html">DAURIN YOUR WASTE</a></li>
            <li><a href="about-us.html">ABOUT US</a></li>
            <li><a href="guides-faq.html">GUIDES AND FAQ</a></li>
            <li><a href="contact-us.html">CONTACT</a></li>
            <div class="links">
                <li><a href="login.html">SIGN IN</a></li>
            </div>
        </ul>
        <div class="menu-toggle">
            <input type="checkbox" name="" id="">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <!-- CONTENT -->
    <div class="title-guides">
        <h2>GUIDES</h2>
        <span></span>
    </div>

    <div class="container-guides">
        <div class="content-guides">
            <div class="header-guides">
                Trash Drop Off
            </div>
            <div class="body-guides">
                <div class="body-content-guides">
                    To access this service, you need to login/
                    register first. Make sure you have a Daurin
                    account before requesting pick-up or other
                    recycling services. Here are the steps:
                    <ul>
                        <li>1. Before making a Drop Off request, make sure
                            you have prepared the waste to be sold and the
                            type of waste must be separated. Then pack in
                            plastic or other containers.</li>
                        <li>2. Open the Daurin application, select Start
                            Recycling</li>
                        <li>3. Next, choose the type of waste that you will
                            sell.</li>
                        <li>4. Set the approximate weight of your
                            recyclables.</li>
                        <li>5. Select the Drop Off service</li>
                        <li>6. Specify the drop off address</li>
                        <li>7. Select the delivery date and time</li>
                        <li>8. Done, please deliver the trash according to
                            the address and time of delivery.</li>
                        <li>9. Monitor the progress of your order in the
                            Order feature to track service progress.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-guides">
        <div class="content-guides">
            <div class="header-guides">
                Trash Pick Up
            </div>
            <div class="body-guides">
                <div class="body-content-guides">
                    To access this service, you need to login/
                    register first. Make sure you have a Daurin
                    account before requesting pick-up or other
                    recycling services. Here are the steps:
                    <ul>
                        <li>1. Before making a request for garbage pickup,
                            make sure you have prepared the trash that will
                            be sold, the trash must be of a separate type.
                            Then pack in plastic or other containers.</li>
                        <li>2. Open the Daurin application, select Start
                            Recycling</li>
                        <li>3. Next, choose the type of waste that you will
                            sell.</li>
                        <li>4. Set the estimated weight of your
                            recycleables.</li>
                        <li>5. Select the Pick Up service</li>
                        <li>6. Specify the pick-up address</li>
                        <li>7. Select the pick-up date and time</li>
                        <li>8. Done, the collector will pick up according to
                            the address and pick-up time.</li>
                        <li>9. Monitor the progress of your order in the
                            Order feature.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-guides">
        <div class="content-guides">
            <div class="header-guides">
                Waste Categories and Sale Price
            </div>
            <div class="body-guides">
                <div class="body-content-guides">
                    <ul>
                        <li>1. Papers - Rp1.000/kg</li>
                        <li>2. Plastics - Rp2.500/kg</li>
                        <li>3. Alumuniums - Rp300/kg</li>
                        <li>4. Irons - Rp2.500/kg</li>
                        <li>5. Glass Bottle - Rp700/Pcs</li>
                        <li>6. Electronics - Rp50.000/Pcs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- FAQ -->
    <div class="title-guides">
        <h2>F.A.Q</h2>
        <span></span>
    </div>

    <div class="container-guides">
        <div class="content-guides">
            <div class="header-guides">
                What is Daurin?
            </div>
            <div class="body-guides">
                <div class="body-content-guides">
                    Daurin is an application for buying and selling waste online (recycling platforms). 
                    Daurin connect the waste generator (house households, businesses and offices) with local collectors(collectors) 
                    closest, so easier in selling trash. Daurin focuses on patterns waste recycling in the upstream sector, 
                    not a service waste transportation or recycling handicrafts.
                </div>
            </div>
        </div>
    </div>
    <div class="container-guides">
        <div class="content-guides">
            <div class="header-guides">
                What is the difference between Daurin to other waste management services?
            </div>
            <div class="body-guides">
                <div class="body-content-guides">
                    Daurin service is free used by anyone, we are not a garbage pickup service company, 
                    we try to provide more value than that, namely the waste that is picked up by our partners, 
                    all of it will be recycled and not thrown into the TPA. Whether its a service selling trash or a 
                    recycling program, everything will be recycled again.
                </div>
            </div>
        </div>
    </div>
    <div class="container-guides">
        <div class="content-guides">
            <div class="header-guides">
                How to sell trash through Daurin? 
            </div>
            <div class="body-guides">
                <div class="body-content-guides">
                    Selling waste through Daurin is very easy, make sure you have downloaded 
                    the Daurin application, open the Daurin application, select the "Start Recycling" feature, 
                    enter waste information, address and pick-up time, submit and wait for collectors to pick up and pay for your waste. 
                    For details, see the guide to selling trash.
                </div>
            </div>
        </div>
    </div>
    <div class="container-guides">
        <div class="content-guides">
            <div class="header-guides">
                What types of waste are managed by Daurin?
            </div>
            <div class="body-guides">
                <div class="body-content-guides">
                    The waste managed by Daurin is a type of dry waste such as: 
                    <ul>
                        <li>1. Trash made of plastic</li>
                        <li>2. Paper-based waste</li>
                        <li>3. Aluminum bins and cans </li>
                        <li>4. Iron and metal waste</li>
                        <li>5. Electronic wastec</li>
                        <li>6. Garbage glass bottles</li>
                        <li>7. Donated items such as clothes and toys</li>
                        <li>8. Some special waste such as used oil, glass shards, etc. (check the guide)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-guides">
        <div class="content-guides">
            <div class="header-guides">
                Is Daurin a foundation, a non-governmental organization (GO), or Community Organization? 
            </div>
            <div class="body-guides">
                <div class="body-content-guides">
                    Daurin is a social-based Technology Company. Why company? We want Daurin 
                    to be able to run independently, sustainably and have a broad impact, 
                    not relying on donations and other parties. Thus, Daurin can be sustainable and 
                    have broad environmental and social impacts.
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="wrapper-footer">
		<footer class="footer">
			<div class="container-footer">
				<div class="row-footer">
					<div class="footer-col">
					 <div class="content-footer">
						 <h4>DAURIN</h4>
						 <p>Daurin is an application for buying and selling waste online (recycling platforms). Daurin connect the waste generator (house households, businesses and offices) with local collectors(collectors) closest, so easier in selling trash. Daurin focuses on patterns waste recycling in the upstream sector, not a service waste transportation or recycling handicrafts.</p>
					 </div>
					</div>
					<div class="footer-col">
					 <div class="content-footer">
						 <h4>QUICK LINKS</h4>
						 <ul style="list-style: none;">
							 <li><a href="form-trash.html">Daurin your waste</a></li>
							 <li><a href="about-us">About Us</a></li>
							 <li><a href="guides-faq.html">Guides and F.A.Q</a></li>
							 <li><a href="contact-us.html">Contact</a></li>
						 </ul>
					 </div>
					</div>
					<div class="footer-col">
					 <div class="content-footer">
						 <h4>CONNECT WITH US</h4>
						 <h5>Kantor Daurin</h5>
						 <p>Jl. RS. Fatmawati Raya No.4, RT.4/RW.9, Cilandak Barat, Kec. Cilandak, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12430</p>
						 <h5>(021) 753 23 45</h5>
						 <h5>contact@daurin.com</h5>
						 <div class="social-links" style="margin-top:10px;">
							 <a href="#"><i class="fab fa-instagram"></i></a>
							 <a href="#"><i class="fab fa-twitter"></i></a>
							 <a href="#"><i class="fab fa-facebook-f"></i></a>
							 <a href="#"><i class="fab fa-whatsapp"></i></a>
						 </div>
					 </div>
					</div>
				</div>
			</div>
	   </footer>
	   <footer class="footer-copyright">
		 <p>©️2023 - All Right Reserved Daurin.</p>
	 </footer>
	</div>
    
    <script src="../assets/js/main.js"></script>
</body>
</html>