<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>daurin</title>   
</head>
<body>

    <!-- navbar -->
    <nav id="nav">
        <div class="logo">
            <a href="index.html"><img src="../assets/images/logo-with-text.png" alt="Daurin Logo"></a>
        </div>
        <ul>
            <li><a href="form-trash.html">DAURIN YOUR WASTE</a></li>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="guides-faq.html">GUIDES AND FAQ</a></li>
            <li><a href="contact-us.html">CONTACT</a></li>
            <div class="links">
                <li><a href="login.html">SIGN IN</a></li>
            </div>
        </ul>
        <div class="menu-toggle">
            <input type="checkbox" name="" id="">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <div class="container-fluid" style="margin: 0; padding: 0;"> 
        <div class="row custom-background" style="margin: 0; padding: 0;">
            <div class="col-12">
                <h4 class="txt-top">Manage Trash Wisely Easier from Home!</h4>
                <h4 class="txt-sub">Disposing of waste in its place is no longer enough to deal with landfill waste and the environment. Let's participate in protecting the environment by sorting and sending your inorganic waste to the nearest Daurin partner</h4>
                <a href="#">
                    <button class="home-1">Start Recycling</button>
                </a>
                <a href="#">
                    <button class="home-2">Read More</button>
                </a>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="bg-light rounded p-3">
                <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded w-100" src="../assets/images/call-to-action.jpg">
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="mb-4">
                                <h1 class="mb-3">Contact With Our Company</h1>
                                <p>Eirmod sed ipsum dolor sit rebum magna erat. Tempor lorem kasd vero ipsum sit sit diam justo sed vero dolor duo.</p>
                            </div>
                            <a href="" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Make A Call</a>
                            <a href="" class="btn btn-dark py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Get Appoinment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Our CEO</h1>
                <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
            </div>
            <div class="row g-4 d-flex align-items-center justify-content-center">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="../assets/images/user-dummy.jpg" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="../assets/images/user-dummy.jpg" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    
    <div class="wrapper-footer">
        <footer class="footer">
            <div class="container-footer">
                <div class="row-footer">
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>DAURIN</h4>
                         <p>Daurin is an application for buying and selling waste online (recycling platforms). Daurin connect the waste generator (house households, businesses and offices) with local collectors(collectors) closest, so easier in selling trash. Daurin focuses on patterns waste recycling in the upstream sector, not a service waste transportation or recycling handicrafts.</p>
                     </div>
                    </div>
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>QUICK LINKS</h4>
                         <ul style="list-style: none;">
                             <li><a href="form-trash.html">Daurin your waste</a></li>
                             <li><a href="about-us">About Us</a></li>
                             <li><a href="guides-faq.html">Guides and F.A.Q</a></li>
                             <li><a href="contact-us.html">Contact</a></li>
                         </ul>
                     </div>
                    </div>
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>CONNECT WITH US</h4>
                         <h5>Kantor Daurin</h5>
                         <p>Jl. RS. Fatmawati Raya No.4, RT.4/RW.9, Cilandak Barat, Kec. Cilandak, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12430</p>
                         <h5>(021) 753 23 45</h5>
                         <h5>contact@daurin.com</h5>
                         <div class="social-links" style="margin-top:10px;">
                             <a href="#"><i class="fab fa-instagram"></i></a>
                             <a href="#"><i class="fab fa-twitter"></i></a>
                             <a href="#"><i class="fab fa-facebook-f"></i></a>
                             <a href="#"><i class="fab fa-whatsapp"></i></a>
                         </div>
                     </div>
                    </div>
                </div>
            </div>
       </footer>
       <footer class="footer-copyright">
         <p>©️2023 - All Right Reserved Daurin.</p>
     </footer>
    </div>

    <script src="../assets/css/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../navbar/main.js"></script>

</body>
</html>