<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Order Detail Drop Off</title>
</head>
<body>

    <!-- navbar -->
    <nav id="nav">
        <div class="logo">
            <a href="index.html"><img src="../assets/images/logo-with-text.png" alt="Daurin Logo"></a>
        </div>
        <ul>
            <li><a href="form-trash.html">DAURIN YOUR WASTE</a></li>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="guides-faq.html">GUIDES AND FAQ</a></li>
            <li><a href="contact-us.html">CONTACT</a></li>
            <div class="links">
                <li><a href="login.html">SIGN IN</a></li>
            </div>
        </ul>
        <div class="menu-toggle">
            <input type="checkbox" name="" id="">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <div class="container-detail">
        <div class="row justify-content-center text-center">
            <div class="col-6">
                <div class="border mb-5 border-3">
                    <h4 class="txt-title">Order Detail</h4>
                    <div class="row ms-2 me-2 mt-4 mb-4">

                        <div class="button-status">
                            <a href="#">
                                <button class="status-info justify-content-center">
                                    <img src="../assets/images/icon-small-onprogress.png" alt="" class="user-icon-small">
                                    <div class="status">
                                        <h4 class="statush4">On Process</h4>                                    
                                    </div>
                            </button></a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
                        <a href="#"><button class="contact">
                            <i class="fab fa-whatsapp"></i>  Contact Daurin</button></a>
                        <a href="#"><button class="cancel ms-2">Cancel Order</button></a>
                    </div>
                    <div class="information ms-2 mt-2 mb-2">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="title text-start mb-3">Drop Off Information</h4>
                            </div>
                        </div>
                        <div class="row data ms-3 mt-2 mb-2">
                            <div class="col-4 text-start">
                                <h4 class="sub-title">Full Name</h4>
                            </div>
                            <div class="col-8 text-start">
                                <h4>: Irfan Satriatama</h4>
                            </div>
                        </div>
                        <div class="row data ms-3 mt-2 mb-2">
                            <div class="col-4 text-start">
                                <h4 class="sub-title">Phone Number</h4>
                            </div>
                            <div class="col-8 text-start">
                                <h4>: 081234567890</h4>
                            </div>
                        </div>
                        <div class="row data ms-3 mt-2 mb-2">
                            <div class="col-4 text-start">
                                <h4 class="sub-title">Address</h4>
                            </div>
                            <div class="col-8 text-start">
                                <h4>: Jalan Gading Kirana Timur Kompi Gading Kirana Blok A-10/2, DKI Jakarta</h4>
                            </div>
                        </div>
                        <div class="row data ms-3 mt-2 mb-2">
                            <div class="col-4 text-start">
                                <h4 class="sub-title">Pick Up Date</h4>
                            </div>
                            <div class="col-8 text-start">
                                <h4>: Thursday,30 May 2023</h4>
                            </div>
                        </div>
                        <div class="row data ms-3 mt-2 mb-2">
                            <div class="col-4 text-start">
                                <h4 class="sub-title">Pick Up Time</h4>
                            </div>
                            <div class="col-8 text-start">
                                <h4>: 10.00 AM - 12.00 AM</h4>
                            </div>
                        </div>
                    </div>
                    <div class="trash-information ms-2 mt-2 mb-2">
                        <h4 class="title text-start mb-3">Trash Summary</h4>
                        <h4 class="sub-title text-start">Total Kg</h4>
                        <div class="row data ms-3 mt-2 mb-2">
                            <div class="col-2 text-end">
                                <h4>1Kg</h4>
                            </div>
                            <div class="col-7 text-center">
                                <h4>Papers</h4>
                            </div>
                            <div class="col-3 text-end">
                                <h4>1.000</h4>
                            </div>
                        </div>
                        <div class="row data ms-3 mt-2 mb-2">
                            <div class="col-2 text-end">
                                <h4>20Kg</h4>
                            </div>
                            <div class="col-7 text-center">
                                <h4>Plastics</h4>
                            </div>
                            <div class="col-3 text-end">
                                <h4>30.000</h4>
                            </div>
                        </div>
                        <h4 class="sub-title text-start">Total Pcs</h4>
                        <div class="row data ms-3 mt-2 mb-2">
                            <div class="col-2 text-end">
                                <h4>1Pcs</h4>
                            </div>
                            <div class="col-7 text-center">
                                <h4>Electronics</h4>
                            </div>
                            <div class="col-3 text-end">
                                <h4>1.000</h4>
                            </div>
                        </div>
                        <div class="row data ms-3 mt-2 mb-2">
                            <div class="col-2 text-end">
                                <h4>20Pcs</h4>
                            </div>
                            <div class="col-7 text-center">
                                <h4>Glass</h4>
                            </div>
                            <div class="col-3 text-end">
                                <h4>30.000</h4>
                            </div>
                        </div>
                        <div class="border-custom">
                            <h4 style="padding-top: 10px;">Each sale will be charged a service fee of 10% to the user.</h4>
                        </div>
                        <div class="summary">
                            <div class="row mt-2">
                                <div class="col-6">
                                </div>
                                <div class="col-3 text-start">
                                    <h4>Sale Price</h4>
                                </div>
                                <div class="col-3 text-end">
                                    <h4>Rp71.000</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-3 text-start">
                                    <h4>Service Fee</h4>
                                </div>
                                <div class="col-3 text-end">
                                    <h4 class="discount">10%</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-3 text-start">
                                    <h4 style="font-weight: bold;">Your Profit</h4>
                                </div>
                                <div class="col-3 text-end">
                                    <h4 style="font-weight: bold;">Rp63.900</h4>
                                </div>
                            </div>
                        </div>
                    </div>                                                          
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="wrapper-footer">
        <footer class="footer">
            <div class="container-footer">
                <div class="row-footer">
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>DAURIN</h4>
                         <p>Daurin is an application for buying and selling waste online (recycling platforms). Daurin connect the waste generator (house households, businesses and offices) with local collectors(collectors) closest, so easier in selling trash. Daurin focuses on patterns waste recycling in the upstream sector, not a service waste transportation or recycling handicrafts.</p>
                     </div>
                    </div>
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>QUICK LINKS</h4>
                         <ul style="list-style: none;">
                             <li><a href="form-trash.html">Daurin your waste</a></li>
                             <li><a href="about-us">About Us</a></li>
                             <li><a href="guides-faq.html">Guides and F.A.Q</a></li>
                             <li><a href="contact-us.html">Contact</a></li>
                         </ul>
                     </div>
                    </div>
                    <div class="footer-col">
                     <div class="content-footer">
                         <h4>CONNECT WITH US</h4>
                         <h5>Kantor Daurin</h5>
                         <p>Jl. RS. Fatmawati Raya No.4, RT.4/RW.9, Cilandak Barat, Kec. Cilandak, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12430</p>
                         <h5>(021) 753 23 45</h5>
                         <h5>contact@daurin.com</h5>
                         <div class="social-links" style="margin-top:10px;">
                             <a href="#"><i class="fab fa-instagram"></i></a>
                             <a href="#"><i class="fab fa-twitter"></i></a>
                             <a href="#"><i class="fab fa-facebook-f"></i></a>
                             <a href="#"><i class="fab fa-whatsapp"></i></a>
                         </div>
                     </div>
                    </div>
                </div>
            </div>
       </footer>
       <footer class="footer-copyright">
         <p>©️2023 - All Right Reserved Daurin.</p>
     </footer>
    </div>
    
    <script src="../assets/js/main.js"></script>
    <script src="../assets/css/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>