<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Profile</title>
</head>
<body>

    <div class="container-detail">
        <div class="row justify-content-center text-center">
            <div class="col-6">
                <div class="border mb-5 border-3">
                    <h4 class="txt-title">Order Detail</h4>
                    <div class="row ms-2 me-2 mt-4 mb-4">

                        <div class="button-status">
                            <a href="#">
                                <button class="status-info justify-content-center">
                                    <img src="../assets/images/icon-small-onprogress2.png" alt="" class="user-icon-small">
                                    <div class="status">
                                        <h4 style="color: var(--yellowc); font-weight: 500; font-size: 24px; margin-left: 20px;">On Process</h4>                                    
                                    </div>
                            </button></a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
                        <a href="#"><button class="contact">
                            <i class="fab fa-whatsapp"></i>  Contact Daurin</button></a>
                        <a href="#"><button class="cancel ms-2">Cancel Order</button></a>
                    </div>
                    <div class="information ms-2 mt-2 mb-2">
                        <div class="row">
                            <div class="col-5">
                                <h4 class="title text-start mb-3">Drop OFF Information</h4>
                            </div>
                        </div>
                        <div class="row ms-3 mt-2 mb-2">
                            <div class="col-4 text-start">
                                <h4 class="sub-title">Full Name</h4>
                            </div>
                            <div class="col-8 text-start">
                                <h4>: Irfan Satriatama</h4>
                            </div>
                        </div>
                        <div class="row ms-3 mt-2 mb-2">
                            <div class="col-4 text-start">
                                <h4 class="sub-title">Phone Number</h4>
                            </div>
                            <div class="col-8 text-start">
                                <h4>: 081234567890</h4>
                            </div>
                        </div>
                        <div class="row ms-3 mt-2 mb-2">
                            <div class="col-4 text-start">
                                <h4 class="sub-title">Address</h4>
                            </div>
                            <div class="col-8 text-start">
                                <h4>: Jalan Gading Kirana Timur Kompi Gading Kirana Blok A-10/2, DKI Jakarta</h4>
                            </div>
                        </div>
                        <div class="row ms-3 mt-2 mb-2">
                            <div class="col-4 text-start">
                                <h4 class="sub-title">Pick Up Date</h4>
                            </div>
                            <div class="col-8 text-start">
                                <h4>: Thursday,30 May 2023</h4>
                            </div>
                        </div>
                        <div class="row ms-3 mt-2 mb-2">
                            <div class="col-4 text-start">
                                <h4 class="sub-title">Pick Up Time</h4>
                            </div>
                            <div class="col-8 text-start">
                                <h4>: 10.00 AM - 12.00 AM</h4>
                            </div>
                        </div>
                    </div>
                    <div class="trash-information ms-2 mt-2 mb-2">
                        <h4 class="title text-start mb-3">Trash Summary</h4>
                        <h4 class="sub-title text-start" style="font-size: 16px;">Total Kg</h4>
                        <div class="row ms-3 mt-2 mb-2">
                            <div class="col-2 text-end">
                                <h4>1Kg</h4>
                            </div>
                            <div class="col-8 text-center">
                                <h4>Papers</h4>
                            </div>
                            <div class="col-2 text-end">
                                <h4>1.000</h4>
                            </div>
                        </div>
                        <div class="row ms-3 mt-2 mb-2">
                            <div class="col-2 text-end">
                                <h4>20Kg</h4>
                            </div>
                            <div class="col-8 text-center">
                                <h4>Plastics</h4>
                            </div>
                            <div class="col-2 text-end">
                                <h4>30.000</h4>
                            </div>
                        </div>
                        <h4 class="sub-title text-start" style="font-size: 16px;">Total Pcs</h4>
                        <div class="row ms-3 mt-2 mb-2">
                            <div class="col-2 text-end">
                                <h4>1Pcs</h4>
                            </div>
                            <div class="col-8 text-center">
                                <h4>Electronics</h4>
                            </div>
                            <div class="col-2 text-end">
                                <h4>1.000</h4>
                            </div>
                        </div>
                        <div class="row ms-3 mt-2 mb-2">
                            <div class="col-2 text-end">
                                <h4>20Pcs</h4>
                            </div>
                            <div class="col-8 text-center">
                                <h4>Glass</h4>
                            </div>
                            <div class="col-2 text-end">
                                <h4>30.000</h4>
                            </div>
                        </div>
                        <div class="border-custom">
                            <h4 style="padding-top: 10px;">Each sale will be charged a service fee of 10% to the user.</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-7">
                            </div>
                            <div class="col-3 text-start">
                                <h4>Sale Price</h4>
                            </div>
                            <div class="col-2 text-end">
                                <h4>Rp71.000</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                            </div>
                            <div class="col-3 text-start">
                                <h4>Service Fee</h4>
                            </div>
                            <div class="col-2 text-end">
                                <h4 class="discount">10%</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                            </div>
                            <div class="col-3 text-start">
                                <h4 style="font-weight: bold;">Your Profit</h4>
                            </div>
                            <div class="col-2 text-end">
                                <h4 style="font-weight: bold;">Rp63.900</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end mt-3">
                                <a href="#"><button class="save" style="font-weight: bold; font-size: 20px;">SELL NOW</button></a>
                            </div>
                        </div>
                    </div>                                                          
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>