<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Start Recycling</title>
</head>
<body>

    

    <div class="container" style="overflow-x: hidden;">
        <div class="row">
            <div class="col-md-1 col-lg-4 mb-5 mt-5 ms-4">
                <div class="row">
                    <div class="col-2">
                        <img src="../assets/images/user-small-icon.png" alt="" class="user-icon-small">
                    </div>
                    <div class="col-8 ms-4 mt-2">                        
                        <div class="row">
                            <div class="col-12">
                                <div class="user">
                                    <h4>Irfan Satriatama</h4>                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="edit">
                                    <a href="#"><i class="fab fa-instagram"></i>  Edit Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ms-1">
                    <div class="col-1">
                        <div class="icon-profile">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>                        
                    </div>
                    <div class="col-10">
                        <div class="account">
                            <a href="#"><h4>My Account</h4></a>
                        </div>
                        <div class="profile">
                            <a href="#"><h4>Profile</h4></a>
                        </div>
                        <div class="cngpass">
                            <a href="#"><h4>Change Password</h4></a>
                        </div>                         
                    </div>
                </div>
                <div class="row ms-1">
                    <div class="col-1">
                        <div class="icon-profile">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>                        
                    </div>
                    <div class="col-10">
                        <div class="account">
                            <a href="#"><h4>My Order</h4></a>
                        </div>
                        <div class="profile">
                            <a href="#"><h4>Start Recycling</h4></a>
                        </div>
                        <div class="cngpass">
                            <a href="#"><h4>Order List</h4></a>
                        </div>                         
                    </div>
                </div>
                <div class="row ms-1">
                    <div class="col-12">
                        <div class="logout">
                            <a href="#"><i class="fab fa-instagram"></i> &nbsp Logout</a>                           
                        </div>                       
                    </div>
                </div>
            </div>
           
            <div class="col-md-7">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="border border-3 mb-3 mt-3">
                                <div class="img-recycling text-center mt-3">
                                    <img src="../assets/images/img-empty-data.png" alt="" style="height: 400px; width: auto;">
                                </div>
                                <h4 class="txt-recycling text-center">Ready to start the Responsible Waste Management?</h4>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center mt-3">
                                        <a href="#"><button class="recycling">START RECYCLING</button></a>
                                    </div>
                                </div>                                                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/css/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>